*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
.container{
    max-width:1000px;
    margin:auto;
}
.row{
    width:100%;
}
.row::after{
    display: table;
    content:'';
    clear:both;
}
[class*=col-]{
    width:100%
}
[class*=col-]{
    float:left;
}
/* for small device */
@media screen and (min-width:576px){
    .col-sm-1{width:8.33%}
    .col-sm-2{width:16.66%}
    .col-sm-3{width:25%}
    .col-sm-4{width:33.33%}
    .col-sm-5{width:41.66%}
    .col-sm-6{width:50%}
    .col-sm-7{width:58.33%}
    .col-sm-8{width:66.66%}
    .col-sm-9{width:75%}
    .col-sm-10{width:83.33%}
    .col-sm-11{width:91.66%}
    .col-sm-12{width:100%}

}

/* for medium device */
@media screen and (min-width:676px){
    .col-md-1{width:8.33%}
    .col-md-2{width:16.66%}
    .col-md-3{width:25%}
    .col-md-4{width:33.33%}
    .col-md-5{width:41.66%}
    .col-md-6{width:50%}
    .col-md-7{width:58.33%}
    .col-md-8{width:66.66%}
    .col-md-9{width:75%}
    .col-md-10{width:83.33%}
    .col-md-11{width:91.66%}
    .col-md-12{width:100%}

}

/* for large device */
@media screen and (min-width:992px){
    .col-lg-1{width:8.33%}
    .col-lg-2{width:16.66%}
    .col-lg-3{width:25%}
    .col-lg-4{width:33.33%}
    .col-lg-5{width:41.66%}
    .col-lg-6{width:50%}
    .col-lg-7{width:58.33%}
    .col-lg-8{width:66.66%}
    .col-lg-9{width:75%}
    .col-lg-10{width:83.33%}
    .col-lg-11{width:91.66%}
    .col-lg-12{width:100%}

    .intro{
        padding:90px;
    }
    .header-logo{
        text-align: left;
        margin:10px;
    }
    .header-link {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    .footer-link{
        text-align: right;
    }

.map    .map1{
        width:100%;
    }
}

/* header starts here */
header{
    background-color: #071952;
    padding:20px;
    text-align: center;
}
.logo{
    font-size: 60px;
    color: white;
    border: 4px solid white;
    border-radius: 50%;
    padding:20px;
}
.header-link{
    padding:20px;
    font-size: 20px;
    
}
.header-link a{
    color:white;
    text-decoration: none;
    display: block;
    padding:15px;
    background-color: #0B666A;
    margin:20px;
    border-radius: 20px;
}

/* header ends here */
/*************************************************/
/* intro starts here */
.intro{
    background-image: url(images/res.jpg);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    background-attachment:fixed;


}
h1{
    font-size: 50px;
    background-color: #FFC95F;
    border-radius: 20px;
    padding: 20px;
}
.p1{
    font-size: 40px;
    padding:20px;
    background-color: #FF9B9B;
    border-radius: 20px;
    margin:20px;
}
.btn{
    background-color: #071952;
    color: white;
    border:none;
    cursor: pointer;
    padding:20px;
    border-radius: 20px;
    margin:20px;
}

/* intro end here */
/*************************************************/
.about-us{
    text-align: center;
    padding:20px;
    background-color:#C5DFF8;
    
}
h2{
    margin:20px;
}
.p2{
    font-size: 20px;
}

/* card start here */
    #food-menu{
        text-align: center;
        margin:20px;
    }
    #food-menu img{
        width:100%;
        display: block;

    }
    .card{
        margin:15px;
        transition: .6s transform;
    }
    .card:hover{
        transform: scale(1.1);
    }
    h3{
        font-size: 30px;
        background-color: #156e5e;
        color:white
    }
    .card-details > p{
        font-size: 20px;
        padding: 10px;
        background-color: #90E0AB;
    }


/* card ends here */

/* contact starts here */
    #contact{
        text-align: center;
    }
    .map .map1{
        height:300px;
        width:100%;
        
    }
    address{
        font-size: 18px;
        padding:2%;
    }


/* contact ends here */

/* footer starts here */
    footer{
        padding:1%;
        background-color: #3C6562 ;
        color:white;
        text-align: center;
    }
.footer-link{
    text-align: center;
}
.footer-link .icon{
    padding:10px;
    font-size:25px;
    border-radius: 50%;
    border: 2px solid white;
    margin:20px;
    cursor: pointer;
}
.text{
    margin:30px 2px;
}

/* footer ends here */
